{% extends "@framework/crud/index.html" %}
{% block _before %}
	<div class="ui segment" id="body">
	<h2 class="ui header">
		<i class="large icons">
    		<i class="sign in icon"></i>
    		<i class="inverted corner cogs icon"></i>
  		</i>
		<div class="content">
			Administration des connexions
			<div class="sub header">Gestion de l'historique des connexions par utilisateur</div>
		</div>
	</h2>
{% endblock %}
{% block btAddNew %}
{% endblock %}
{% block _addNewCaption %}
	{{ parent() }}
{% endblock %}
{% block frm %}
	{{ parent() }}
{% endblock %}
{% block dataTable %}
	{{ parent() }}
{% endblock %}
{% block messages %}
	{{ parent() }}
{% endblock %}
{% block details %}
	{{ parent() }}
{% endblock %}
{% block _after %}
	</div>
{% endblock %}
{% block script %}
	{{ parent() }}
{% endblock %}
